:root {
    /* vert: #5c9902 101/179/46 marron: #924c02 147/96/55 bleu: #0183d5 0/128/201 noir 0/47/74 */

    --green: #5c9902;
    --green-hovered: #4d7f02;

    --brown: #924c02;
    --brown-hovered: #5f3100;

    --light-blue: #0183d5;
    --light-blue-hovered: #0069aa;

    --dark-blue: #002f4a;
    --dark-blue-hovered: #065685;

    --black: rgb(20, 20, 20);

    --shadow: 1px 1px 10px rgba(0, 0, 0, 0.664);

    /* transitions */

    --fadeQuick: 200ms ease;
    --fade-quick: 200ms ease;
}

/* main colors */
    


/* Components that react to user actions */
    .blue_action {
        background-color: var(--light-blue);
        transition: var(--fadeQuick);
    }
    .blue_action:hover {
        background-color: var(--light-blue-hovered);
        box-shadow: var(--shadow);
        transition: var(--fadeQuick);
    }
    .dark_blue_action {
        background-color: var(--dark-blue);
        transition: var(--fadeQuick);
    }

    .dark_blue_action:hover {
        background-color: var(--dark-blue-hovered);
        box-shadow: var(--shadow);
        transition: var(--fadeQuick);
    }

    .green_action {background-color: var(--green);}
    .green_action:hover {
        background-color: var(--green-hovered);
        box-shadow: var(--shadow);
        transition: var(--fadeQuick);
    }

    .brown_action {background-color: var(--brown);}
    .brown_action:hover {
        background-color: var(--brown-hovered);
        box-shadow: var(--shadow);
        transition: var(--fadeQuick);
    }


    /* shadows, borders, backgrounds, etc */

        /* Background colors */
        .lightBlueBG {
            background-color: var(--light-blue);
        }
    
        .darkBlueBG {
            background-color: var(--dark-blue);
        }
    
        .greenBG {
            background-color: var(--green);
        }
    
        .brownBG {
            background-color: var(--brown);
        }
    
        /* Any text inside a colored background */
        .lightBlueBG *,
        .darkBlueBG *,
        .greenBG *,
        .brownBG * {
            color: white;
        }

        .shadow {
            box-shadow: var(--shadow);
        }


/* tall cards (assos, business, delegations */

.blueTallCard {
    background-color: var(--dark-blue);
}
.blueTallCard {
    background-color: var(--dark-blue);
}
.brownTallCard {
    background-color: var(--brown);
}

.blueTallCard *,
.brownTallCard *{
    color: white;
}