@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
    --montserrat: font-family: 'Montserrat', sans-serif;
}

/*  Main font style  */
*{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
}

.oleo {
    font-family: 'Oleo Script', cursive;
}

/* Text styles */

    /* main text font for classic pages */
        .page-text {
            font-weight: 300;
        }

        @media (max-width: 719px) {
            .page-text {
                font-size: 16px;
            }
        }

        @media (min-width: 720px) {
            .page-text {
                font-size: 16px;
                line-height: 24px;
            }
        }

        /* intro text at top of pages */
        .intro-text {
            font-weight: 500;
            color: var(--dark-blue);
        }

        @media (max-width: 719px) {
            .page-text {
                font-size: 18px;
            }
        }

        @media (min-width: 720px) {
            .page-text {
                font-size: 17px;
                letter-spacing: 0px;
                line-height: 24px;
            }
        }
    
    
    
    /* text for card and smaller components */

        /* titles */
        .card-title {font-size: 16px;}
        /* main text font */
        .card-text {font-weight: 300;}
        /* small prints, extra info at the bottom */
        .card-small {font-weight: 200; font-style: italic;}


        .italic {font-style: italic;}

/*  ---  */


.icon {
    font-family: 'Material Icons';
}