.w100 {width: 100%;}
.h100 {height: 100%;}

.block {display: block;}

.flex {display: flex;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.wrap {flex-wrap: wrap;}

.justifyCenter {justify-content: center;}
.justifyStart {justify-content: flex-start;}
.justifyEnd {justify-content: flex-end;}
.justifyBetween {justify-content: space-between;}
.justifyAround {justify-content: space-around;}
.justifyEvenly {justify-content: space-evenly;}

.alignCenter {align-items: center;}
.alignStart {align-items: flex-start;}
.alignEnd {align-items: flex-end;}

.centered {display: grid;place-items: center;}

.r {border: 1px solid red;}
.b {border: 1px solid blue;}
.g {border: 1px solid green;}


.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}

.top {top: 0;}
.right {right: 0;}

.pointer {cursor: pointer;}

.relative {position: relative;}
.absolute {position: absolute;}
.absolutlyCentered {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.mainWidth { width: min(100%, 1200px); margin: auto;}